global
    log /dev/log local0
    log /dev/log local1 notice
    chroot /var/lib/haproxy
    user haproxy
    group haproxy
    daemon
    maxconn 100000
    ca-base /etc/ssl/certs
    crt-base /etc/ssl/private
    ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
    ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-bind-options ssl-min-ver TLSv1.2 no-tls-tickets

defaults
    log     global
    mode    tcp
    option  tcplog
    timeout connect 5s
    timeout client  30m
    timeout server  30m
    timeout tunnel  1h
    timeout client-fin 20s
    timeout server-fin 20s

frontend ssl_sni
    bind *:443 ssl crt /etc/haproxy/certs/${domain}.pem alpn h2,http/1.1
    mode http
    option forwardfor

    acl is_vless_grpc path_beg /vless/
    acl is_vmess_grpc path_beg /vmess/
    acl is_trojan_grpc path_beg /trojan/
    acl is_vless_ws path_beg /vless
    acl is_vmess_ws path_beg /vmess
    acl is_trojan_ws path_beg /trojan

    use_backend xray_vless_grpc if is_vless_grpc
    use_backend xray_vmess_grpc if is_vmess_grpc
    use_backend xray_trojan_grpc if is_trojan_grpc
    use_backend xray_vless if is_vless_ws
    use_backend xray_vmess if is_vmess_ws
    use_backend xray_trojan if is_trojan_ws

backend xray_vless
    mode http
    server local_vless_ws 127.0.0.1:10086 send-proxy-v2 check

backend xray_vless_grpc
    mode http
    server local_vless_grpc 127.0.0.1:10088 send-proxy-v2 proto h2 check

backend xray_vmess
    mode http
    server local_vmess_ws 127.0.0.1:10089 send-proxy-v2 check

backend xray_vmess_grpc
    mode http
    server local_vmess_grpc 127.0.0.1:10091 send-proxy-v2 proto h2 check

backend xray_trojan
    mode http
    server local_trojan_ws 127.0.0.1:10092 send-proxy-v2 check

backend xray_trojan_grpc
    mode http
    server local_trojan_grpc 127.0.0.1:10093 send-proxy-v2 proto h2 check

frontend vless_ntls_front
    bind *:80
    mode http
    option forwardfor

    acl is_vless_ntls path_beg /vless-ntls
    acl is_vmess_ntls path_beg /vmess-ntls

    use_backend xray_vless_ntls if is_vless_ntls
    use_backend xray_vmess_ntls if is_vmess_ntls

backend xray_vless_ntls
    mode http
    server vless_ntls_server 127.0.0.1:10087 send-proxy-v2 check

backend xray_vmess_ntls
    mode http
    server vmess_ntls_server 127.0.0.1:10090 send-proxy-v2 check
